{% extends "base.html" %}
{% block conteudo %}
    {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
            {% for msg in mensagens %}
                {{ msg }}
            {% endfor %} 
        {% endif %}         
        <form action="autenticar3" method="post">
            nome: <input type="text" name="nome"><br>
            data de nascimento: <input type="date" name="datanc"><br>
            sexo: <input type="radio" name="sexo" value="M"> M
            <input type="radio" name="sexo" value="F"> F<br> 
            peso: <input type="number" name="peso" step="0.01"><br>
            <Button type="submit">Enviar</Button>
        </form>
    {% endwith %}
{% endblock %}
